.topdivs{
	position: relative;
	height: 60px;
	width: 100%;
	background-color: darkolivegreen;
	display: flex; 
	justify-content: space-between;
}


.logo{

  height: 50px;
  text-align: center;
  width: 50px;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  background: rgba(255,255,255,0.9);
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  z-index: 9999;

  background-image: url('images/logo.png');
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;


}


.users{
  height: 50px;
  text-align: center;
  width: 50px;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  background: rgba(255,255,255,0.9);
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  z-index: 9999;
  }

.optionsbackground{
  height: 950px;
  width: 100%;
  background-color: white;
  /*background-image: url('images/homebackground.jpg');*/
}



.circlesdiv {
  position: relative;
  height: 270px;
  width: 50%;              /* half the page width */
  margin: 0 auto;          /* center horizontally */
  background-color: beige;
  display: flex;
  justify-content: center; /* keep circles grouped in the middle */
  align-items: center;     /* vertical centering */
  gap: 20px;               /* spacing between circles */
  border: 2px solid black;
  border-radius: 9px;
}

.individualcircle {
  height: 250px;
  width: 250px;
  background: white;
  color: white;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  
  background-size: cover; /* scales image to cover the circle */
  background-position: center; /* centers the image */ 
  background-repeat: no-repeat;
}




.circlesbtns{
  width: 70px;
  height: 30px;
  background: orange;
  border: none;
   /*border-radius: 0 0 60px 60px ; */
   border-radius: 5px;
  color: white;
  font-size: 16px;
}



















.semi-circle {
  position: relative;
  width: 98%;
  height: 300px; /* half of width → semi-circle */
  border-radius: 0 0 100% 100% ; /* top semi-circle */
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
}

.slice {
  position: absolute;
  top: 0;
  width: 20%;       /* 5 equal partitions */
  height: 100%;
}
